.catalog {
  background-color: $white;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 35px;
    margin-bottom: 55px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    padding-top: 90px;
    margin-bottom: 60px;
  }
}

.catalog__container {
  @include container;
}

@media (min-width: $desktop-width) {
  .catalog__container {
    @include desktop-width;
  }
}

.catalog__list {
  @include list-reset;
  width: 100%;
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: flex;
    justify-content: space-between;
  }
}
