.catalog-card {
  background-color: $white;
  border: 1px solid $whisper;
  margin-top: 30px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: flex;
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 4.7%;
    margin-bottom: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.catalog-card__img {
  display: block;
  width: 100%;
  background-color: $white-smoke;
}

@media (min-width: $tablet-width) {
  .catalog-card__img {
    min-height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__img {
    min-height: 462px;
  }
}

.catalog-card__img img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.catalog-card__text {
  padding: 0 28px;
}

@media (min-width: $tablet-width) {
  .catalog-card__text {
    width: 82.5%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__text {
    min-height: 195px;
  }
}

.catalog-card__title {
  @include font-text;
  margin: 0;
  padding-top: 25px;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .catalog-card__title {
    font-size: 20px;
    padding-top: 25px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__title {
    padding-top: 27px;
  }
}

.catalog-card__link {
  display: block;
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, 0.6%);
  }

  &:active {
    color: rgba($black, 0.3%);
  }
}

.catalog-card__descr {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: $charcoal;
  padding-top: 8px;
  padding-bottom: 17px;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .catalog-card__descr {
    font-size: 15px;
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
}

.catalog-card__buy-wrapper {
  border-top: 1px solid $whisper;
  margin-top: auto;
  padding-top: 20px;
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog-card__buy-wrapper {
    padding-top: 20px;
    padding-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__buy-wrapper {
    padding-bottom: 22px;
    padding-right: 5px;
  }
}

.catalog-card__buy {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  max-width: 260px;
}

@media (min-width: $tablet-width) {
  .catalog-card__buy {
    margin: 0;
    max-width: none;
  }
}

.catalog-card__price {
  @include font-text;
  font-size: 15px;
  display: block;
  margin: 0;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .catalog-card__price {
    font-size: 17px;
    padding-left: 5px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__price {
    font-size: 17px;
    padding-left: 0;
  }
}

.catalog-card__basket {
  align-self: flex-end;
  opacity: 0.2;

  &:hover,
  &:focus {
    fill: $downy;
    opacity: 1;
  }

  &:active {
    fill: $downy;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__basket {
    padding-bottom: 5px;
    pading-right: 2px;
  }
}
