.catalog-card {
  background-color: $white;
  border: 1px solid $whisper;
  margin-top: 30px;

  &:hover .catalog-card__text,
  &:focus .catalog-card__text {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active .catalog-card__text {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card {
    display: flex;
    flex-direction: column;
  }
}

.catalog-card__img img {
  display: block;
}

.catalog-card__text {
  padding: 0 28px;
}

.catalog-card__title {
  @include font-text;
  margin: 0;
  padding-top: 30px;
}

.catalog-card__link {
  display: block;
  color: $black;

  &:hover,
  &:focus {
    color: rgba($black, 0.6%);
  }

  &:active {
    color: rgba($black, 0.3%);
  }
}

.catalog-card__descr {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 30px;
  color: $charcoal;
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid $whisper;
}

.catalog-card__price {
  @include font-text;
  font-size: 15px;
  display: block;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;
}
