.contacts {
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .contacts {
    font-size: 17px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 105px;
  }
}

.contacts__container {
  padding-bottom: 95px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .contacts__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 106px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__container {
    @include container;
    @include desktop-width;
    box-sizing: border-box;
  }
}

.contacts__text {
  @include container;
}

@media (min-width: $tablet-width) {
  .contacts__text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .contacts__text {
    margin: 0;
    padding: 0;
    padding-left: 175px;
    flex-direction: column;
    box-sizing: border-box;
    width: 45.2%;
    margin-top: 80px;
  }
}

.contacts__title-wrapper {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__title-wrapper {
    position: relative;
    width: 100%;
  }
}

.contacts__title {
  @include section-title;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 15px;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 75px;
    letter-spacing: -0.7px;
    background-position: 0% 100%;
  }
}

.contacts__icon {
  display: none;
}

@media (min-width: $tablet-width) {
  .contacts__icon {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__icon {
    left: -175px;
    width: 175px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__icon img {
    margin-left: auto;
    margin-right: auto;
  }
}

.contacts__info-wrapper {
  margin-top: 25px;
  display: flex;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__info-wrapper {
    margin-top: 30px;
    max-width: none;
    width: 50%;
  }
}

@media (min-width: $desktop-width) {
  .contacts__info-wrapper {
    width: 100%;
  }
}

.contacts__info {
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts__info {
    padding-right: 25px;
  }
}

.contacts__email {
  color: $charcoal;
  border-bottom: solid 1px #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    color: rgba(#46c1ae, 0.3%);
    border-bottom-color: rgba(#46c1ae, 0.3%);
  }
}

.contacts__address {
  padding-right: 30px;
}

@media (min-width: $tablet-width) {
  .contacts__address {
    padding-right: 0;
  }
}

.contacts__map {
  background-image: url("../img/map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: #eee5d8;
  background-size: cover;
  margin-top: 40px;
  min-height: 457px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts__map {
    margin-top: 60px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__map {
    width: 50%;
    margin-top: 80px;
  }
}

.contacts__btn-wrapper {
  @include container;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: $desktop-width) {
  .contacts__btn-wrapper {
    position: static;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts__btn-wrapper {
    margin-top: auto;
  }
}

.contacts__btn {
  margin-top: 35px;
  font-size: 18px;
}

@media (min-width: $tablet-width) {
  .contacts__btn {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts__btn {
    margin: 0;
  }
}
