@media (min-width: $tablet-width) {
  .copyright {
    width: 32.9%;
  }
}

.copyright__link {
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 30px;

  &:hover.copyright__link svg,
  &:focus.copyright__link svg {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }

  &:active.copyright__link svg {
    fill: #46c1ae;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    padding-top: 10px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__link {
    padding-top: 10px;
  }
}

.copyright__text {
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  padding-right: 30px;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-left: auto;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    padding-right: 25px;
    padding-bottom: 10px;
  }
}

.copyright__link svg {
  fill: $downy;
}
