.features {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .features {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding-top: 55px;
  }
}

.features__container {
  @include container;
  padding-top: 10px;
}

@media (min-width: $desktop-width) {
  .features__container {
    @include desktop-width;
    padding-left: 225px;
  }
}

.features__title {
  @include section-title;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features__title {
    font-size: 43px;
    line-height: 50px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .features__title {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.7px;
  }
}

@media (min-width: $desktop-width) {
  .features__list-wrapper {
    min-width: 0;
    max-width: none;
    margin: auto;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}


@media (min-width: $tablet-width) {
  .features__list {
    display: block;
    column-count: 2;
    column-gap: 4%;
    margin-top: 50px;
    width: 97.3%;
  }
}

@media (min-width: $desktop-width) {
  .features__list {
    margin-left: 0;
    margin-right: 0;
    max-width: 685px;
  }
}

.features__item {
  margin-top: 30px;
  width: 100%;

  &:nth-child(even) {
    margin-top: 27px;
  }
}

@media (min-width: $tablet-width) {
  .features__item {
    margin: 0;
    padding-bottom: 55px;
    width: 50%;
    min-width: 295px;

    &:nth-child(even) {
      margin-top: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    max-width: 310px;
  }
}

.features__icon-wrapper {
  width: 55px;
  height: 55px;
  position: relative;
}

.features__icon {
  position: absolute;

  &--flower {
    left: 8px;
  }

  &--heart {
    left: 8px;
    top: 3px;
  }

  &--ball {
    left: 2px;
    top: 2px;
  }

  &--rocket {
    left: -8px;
    top: 4px;
  }

  &--gift {
    left: 2px;
    top: 2px;
  }
}

@media (min-width: $tablet-width) {
  .features__icon {
    position: absolute;

    &--flower {
      left: 10px;
    }

    &--heart {
      top: 6px;
    }

    &--rocket {
      left: -6px;
      top: 4px;
    }
  }
}

.features__text {
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .features__text {
    font-size: 20px;
    line-height: 22px;
  }
}
