.good-hit {
  position: relative;
  padding-top: 28px;
  padding-bottom: 55px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-size: auto 6px;
  }
}

@media (min-width: $tablet-width) {
  .good-hit {
    padding-top: 35px;
    padding-bottom: 75px;

    &::after {
      width: 100%;
      height: 27px;
      background-size: 768px 15px;
      background-position: -22px 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .good-hit {
    padding-top: 54px;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }
}

.good-hit__container {
  @include container;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 126px;
}

@media (min-width: $tablet-width) {
  .good-hit__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__container {
    @include desktop-width;
    padding-left: 225px;
    padding-bottom: 100px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 50px;
      bottom: 0;
      background-image: url("../img/bg-zigzag-line.svg");
      width: 91%;
      height: 29px;
      background-size: 1050px 20px;
      background-position: -25px 0;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: $tablet-width) {
  .good-hit__text {
    width: 43.4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__text {
    width: 33.3%;
  }
}

@media (min-width: $tablet-width) {
  .good-hit__title-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__title-wrapper {
    justify-content: flex-start;
    align-self: flex-end;
    position: relative;
    margin: 0;
    margin-bottom: -110px;
  }
}

.good-hit__title {
  @include section-title;
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .good-hit__title {
    font-size: 43px;
    line-height: 50px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__title {
    font-size: 53px;
    line-height: 57px;
    letter-spacing: -0.7px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__label-wrapper {
    width: 175px;
    position: absolute;
    left: -175px;
  }
}

.good-hit__label {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $downy;
  text-transform: uppercase;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .good-hit__label {
    line-height: 17px;
    min-height: 50px;
    max-width: 70px;
    text-align: center;
    margin-top: 10px;
    padding-right: 28px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__label {
    padding: 0;
    margin-left: 45px;
    margin-top: 15px;
  }
}

.good-hit__descr {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $charcoal;
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .good-hit__descr {
    font-size: 17px;
    line-height: 30px;
    margin-top: 40px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__descr {
    margin: 0;
    padding-top: 158px;
  }
}

.good-hit__table {
  margin-top: 18px;
}

@media (min-width: $tablet-width) {
  .good-hit__table {
    margin-top: 33px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__table {
    margin-top: 45px;
  }
}

.good-hit__img {
  display: block;
  margin-top: 28px;
}

@media (min-width: $tablet-width) {
  .good-hit__img {
    width: 50%;
    padding-bottom: 0;
    margin-top: 48px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__img {
    width: 60%;
    margin: 0;
  }
}

.good-hit__img img {
  width: 100%;
}

.good-hit__buy {
  @include container;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (min-width: $tablet-width) {
  .good-hit__buy {
    padding: 0;
    position: static;
    margin-top: auto;
  }
}

.good-hit__price {
  @include font-text;
  color: $charcoal;
  margin-top: 28px;
  min-width: 260px;
  display: flex;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .good-hit__price {
    font-size: 20px;
    margin-top: 0;
  }
}

.good-hit__btn {
  margin-top: 25px;
  min-width: 260px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .good-hit__btn {
    margin-top: 30px;
  }
}

@media (min-width: $desktop-width) {
  .good-hit__btn {
    margin-top: 32px;
    padding: 14px 10px;
  }
}
