.main-nav {
  position: relative;
  background-color: $white;
  min-height: 80px;
}

.main-nav__toggle {
  content: "";
  position: absolute;
  top: -50px;
  right: 30px;

  display: block;
  width: 21px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: $black;
  box-shadow: 0 6px 0 0 $black,
      0 12px 0 0 $black;
}
