.order-form {
  ::-webkit-input-placeholder {
    color: rgba($charcoal, 0.3);
  }

  ::-moz-placeholder {
    color: rgba($charcoal, 0.3);
  }

  :-moz-placeholder {
    color: rgba($charcoal, 0.3);
  }

  :-ms-input-placeholder {
    color: rgba($charcoal, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .order-form__group-wrapper {
    padding-top: 50px;
    padding-bottom: 25px;

    &:nth-child(even) {
      background-color: $white-smoke;
    }

    &--userdata {
      margin-bottom: 0;
      padding-top: 55px;
    }
  }
}

.order-form__group {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    @include container;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .order-form__group {
    @include desktop-width;
  }
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

@media (min-width: $tablet-width) {
  .order-form__input-wrapper {
    &--color {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__input-wrapper {
    width: 700px;

    &--color {
      padding-right: 0;
      width: 740px;
    }
  }
}

.order-form__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $downy;
  text-transform: uppercase;
  margin: 25px 0;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: $downy;
    margin-left: 20px;
  }

  &--userdata {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &--add {
    margin-top: 30px;
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__title {
    min-width: 167px;
    align-items: flex-start;
    margin: 18px 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    min-width: 175px;
    box-sizing: border-box;
    justify-content: center;
    padding-right: 10px;
    margin: 18px 0;

    &--userdata {
      padding-right: 20px;
    }

    &--email {
      padding-left: 5px;
      padding-right: 0;
    }
  }
}

.order-form__label {
  @include font-text;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  &--left {
    padding-top: 10px;
    padding-left: 62px;
    min-height: 47px;
    margin-bottom: 14px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__label {
    font-size: 19px;
    padding-top: 15px;
    padding-right: 25px;

    &--left {
      padding-left: 80px;
      padding-right: 0;
      min-height: 52px;
      margin-bottom: 25px;
    }

    &--color {
      width: 47.7%;
      margin-right: 4.6%;
    }

    &:last-child {
      margin-bottom: 25px;
    }

    &--color:nth-of-type(2n) {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__label {
    &--color {
      width: 28.9%;
      margin-right: 6.6%;
    }

    &--color:nth-of-type(2n) {
      margin-right: 6.6%;
    }

    &--color:nth-of-type(3n) {
      margin-right: 0;
    }
  }
}

.order-form__input + .order-form__label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 35px;
  border: 2px solid $charcoal;
}

.order-form__input--radio + .order-form__label::before {
  border-radius: 50%;
}

.order-form__input + .order-form__label:hover::before,
.order-form__input + .order-form__label:focus::before {
  border: 2px solid $downy;
}

.order-form__input + .order-form__label:active::before {
  border: 2px solid rgba($charcoal, 0.3%);
}

.order-form__input + .order-form__label:active::after,
.order-form__input:checked + .order-form__label::after {
  content: "";
  position: absolute;
}

.order-form__input--radio + .order-form__label:active::after,
.order-form__input--radio:checked + .order-form__label::after {
  left: 11px;
  top: 11px;
  width: 16px;
  height: 16px;
  background-color: $downy;
  border-radius: 50%;
}

.order-form__input--checkbox + .order-form__label:active::after,
.order-form__input--checkbox:checked + .order-form__label::after {
  left: 15px;
  top: 5px;
  width: 8px;
  height: 19px;
  background-color: transparent;
  border: 2px solid $charcoal;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}

.order-form__input:checked + .order-form__label:active::after {
  opacity: 0;
}

@media (min-width: $tablet-width) {
  .order-form__input + .order-form__label::before {
    width: 48px;
    height: 48px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__input--radio + .order-form__label:active::after,
  .order-form__input--radio:checked + .order-form__label::after {
    left: 16px;
    top: 16px;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__input--checkbox + .order-form__label:active::after,
  .order-form__input--checkbox:checked + .order-form__label::after {
    left: 18px;
    top: 4px;
    width: 15px;
    height: 29px;
  }
}


.order-form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:nth-child(odd) {
    padding-top: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__name-wrapper {
    flex-direction: row;
    margin-bottom: 0;

    &:nth-child(odd) {
      padding-top: 0;
    }
  }
}

.order-form__field {
  font-family: inherit;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 20px;
  min-height: 50px;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $downy;
  }

  &:hover + .order-form__field-icon,
  &:focus + .order-form__field-icon,
  &:active + .order-form__field-icon {
    fill: $downy;
    opacity: 1;
  }

  &--transparent {
    background-color: transparent;
    padding-right: 45px;
  }

  &--textarea {
    font-family: inherit;
    border: 2px solid $black;
    resize: none;
    padding: 15px;
    min-height: 142px;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $downy;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__field {
    margin-bottom: 25px;
    font-size: 19px;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 15px;
  }
}

.order-form__field-icon {
  position: absolute;
  top: 10px;
  opacity: 0.2;
  right: 5px;

  &--phone {
    right: 10px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__field-icon {
    right: 22px;

    &--phone {
      right: 25px;
    }
  }
}


@media (min-width: $desktop-width) {
  .order-form__field-icon {
    right: 5px;

    &--phone {
      right: 8px;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__required-wrapper {
    @include container;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .order-form__required-wrapper {
    @include desktop-width;
    padding: 0 225px;
  }
}

.order-form__required {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .order-form__required {
    margin-top: 0;
    font-size: 17px;
    line-height: 30px;
    order: 1;
  }
}

.order-form__btn {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-form__btn {
    width: 230px;
    margin-top: 0;
    padding: 17px 10px 15px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__btn {
    width: 230px;
    margin-top: 0;
    padding: 16px 10px 13px;
  }
}
