.order-form {
  margin-bottom: 55px;
}

@media (min-width: $tablet-width) {
  .order-form {
    margin-bottom: 50px;
  }
}

.order-form__container {
  @include container;
}

@media (min-width: $tablet-width) {
  .order-form__container {
    padding: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__descr-wrapper {
    @include container;
  }
}

@media (min-width: $desktop-width) {
  .order-form__descr-wrapper {
    @include desktop-width;
  }
}

.order-form__descr {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $charcoal;
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .order-form__descr {
    font-size: 17px;
    line-height: 30px;
    padding-top: 35px;
    padding-bottom: 5px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__descr {
    padding-left: 175px;
    padding-top: 90px;
    max-width: 700px;
  }
}

.order-form__group-wrapper {
  &--userdata {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__group-wrapper {
    padding-top: 50px;
    padding-bottom: 25px;

    &:nth-child(even) {
      background-color: $white-smoke;
    }

    &--userdata {
      margin-bottom: 0;
    }
  }
}

.order-form__group {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    @include container;
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .order-form__group {
    @include desktop-width;
  }
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;

  & .order-form__label:last-child,
  & .order-form__name-wrapper:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__input-wrapper {
    & .order-form__label:last-child {
      margin-bottom: 25px;
    }

    &--color {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__input-wrapper {
    width: 700px;

    &--color {
      padding-right: 0;
      width: 740px;
    }
  }
}

.order-form__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $downy;
  text-transform: uppercase;
  margin: 25px 0;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: $downy;
    margin-left: 20px;
  }

  &--userdata {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__title {
    min-width: 167px;
    align-items: flex-start;
    margin: 18px 0;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    min-width: 175px;
    justify-content: center;
  }
}

.order-form__label {
  @include font-text;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;

  &--left {
    padding-top: 5px;
    padding-left: 62px;
    min-height: 47px;
    margin-bottom: 13px;
  }

  &--color {
    padding-top: 10px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__label {
    font-size: 19px;
    padding-top: 15px;
    padding-right: 25px;

    &--left {
      padding-left: 80px;
      padding-right: 0;
      min-height: 52px;
      margin-bottom: 25px;
    }

    &--color {
      width: 239px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__label {
    &--color {
      width: 214px;
    }
  }
}

.order-form__name-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  &:nth-child(odd) {
    padding-top: 5px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__name-wrapper {
    flex-direction: row;
    margin-bottom: 0;

    &:nth-child(odd) {
      padding-top: 0;
    }
  }
}

.order-form__input {
  & + .order-form__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: 2px solid $charcoal;
  }

  &:hover + .order-form__label::before,
  &:focus + .order-form__label::before {
    border: 2px solid $downy;
  }

  &:active + .order-form__label::before {
    border: 2px solid rgba($charcoal, 0.3%);
  }

  &--radio + .order-form__label::before {
    border-radius: 50%;
  }

  &:checked + .order-form__label::after {
    content: "";
    position: absolute;
  }

  &--radio:checked + .order-form__label::after {
    left: 11px;
    top: 11px;
    width: 16px;
    height: 16px;
    background-color: $downy;
    border-radius: 50%;
  }

  &--checkbox:checked + .order-form__label::after {
    left: 15px;
    top: 5px;
    width: 8px;
    height: 19px;
    background-color: transparent;
    border: 2px solid $charcoal;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }
}

@media (min-width: $tablet-width) {
  .order-form__input {
    & + .order-form__label::before {
      width: 48px;
      height: 48px;
    }

    &--radio:checked + .order-form__label::after {
      left: 16px;
      top: 16px;
      width: 20px;
      height: 20px;
    }

    &--checkbox:checked + .order-form__label::after {
      left: 18px;
      top: 4px;
      width: 15px;
      height: 29px;
    }
  }
}

.order-form__field {
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 20px;
  min-height: 50px;
  padding-left: 0;
  border: none;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $downy;
  }

  &:hover + .order-form__field-icon,
  &:focus + .order-form__field-icon,
  &:active + .order-form__field-icon {
    fill: $downy;
    opacity: 1;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: rgba($black, 0.3%);
  }

  &--transparent {
    background-color: transparent;
    padding-right: 45px;
  }

  &--textarea {
    border: 2px solid $black;
    resize: none;
    padding: 15px;
    min-height: 142px;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $downy;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__field {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 24px;
    padding-top: 10px;
    padding-left: 15px;
  }
}

.order-form__field-icon {
  position: absolute;
  right: 5px;
  top: 10px;
  opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .order-form__field-icon {
    right: 25px;
  }
}


@media (min-width: $desktop-width) {
  .order-form__field-icon {
    right: 0;
  }
}

@media (min-width: $tablet-width) {
  .order-form__required-wrapper {
    @include container;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .order-form__required-wrapper {
    @include desktop-width;
    padding: 0 225px;
  }
}

.order-form__required {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .order-form__required {
    font-size: 17px;
    line-height: 30px;
    order: 1;
  }
}

.order-form__btn {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-form__btn {
    width: 226px;
    margin-top: 0;
  }
}
