.order-form {
  margin-bottom: 55px;
}

.order-form__descr-wrapper {
  @include container;
}

.order-form__descr {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $charcoal;
  margin-top: 30px;
}

@media (min-width: $desktop-width) {
  .order-form__descr {
    padding-left: 175px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__group-wrapper {
    &:nth-child(even) {
      background-color: $white-smoke;
    }
  }
}

.order-form__group {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .order-form__group {
    @include container;
    flex-direction: row;
  }
}

.order-form__input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-form__input-wrapper {
    &--color {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__input-wrapper {
    padding-right: 175px;

    &--color {
      padding-right: 0;
      width: 740px;
    }
  }
}

.order-form__title {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  color: $downy;
  text-transform: uppercase;
  margin-top: 30px;

  &::after {
    content: "";
    flex-grow: 1;
    flex-shrink: 0;
    height: 1px;
    background-color: $downy;
    margin-left: 20px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__title {
    min-width: 167px;
    align-items: flex-start;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    min-width: 175px;
    justify-content: center;
  }
}

.order-form__label {
  @include font-text;
  line-height: 18px;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  min-height: 39px;
  box-sizing: border-box;

  &--left {
    padding-left: 62px;
  }
}

@media (min-width: $tablet-width) {
  .order-form__label {
    &--color {
      width: 200px;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form__label {
    &--color {
      width: 246px;
    }
  }
}


.order-form__input {
  & + .order-form__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: 2px solid $charcoal;
  }

  &:hover + .order-form__label::before,
  &:focus + .order-form__label::before {
    border: 2px solid $downy;
  }

  &:active + .order-form__label::before {
    border: 2px solid rgba($charcoal, 0.3%);
  }

  &--radio + .order-form__label::before {
    border-radius: 50%;
  }

  &:checked + .order-form__label::after {
    content: "";
    position: absolute;
  }

  &--radio:checked + .order-form__label::after {
    left: 11px;
    top: 11px;
    width: 16px;
    height: 16px;
    background-color: $downy;
    border-radius: 50%;
  }

  &--checkbox:checked + .order-form__label::after {
    left: 15px;
    top: 5px;
    width: 8px;
    height: 19px;
    background-color: transparent;
    border: 2px solid $charcoal;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
  }
}

.order-form__field {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0 15px;
  margin-top: 12px;
  border: none;
  border-bottom: 2px solid $black;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid $downy;
  }

  &::-webkit-input-placeholder,
  &::-moz-placeholder,
  &:-moz-placeholder,
  &:-ms-input-placeholder {
    color: rgba($black, 0.3%);
  }

  &--transparent {
    background-color: transparent;
  }

  &--textarea {
    border: 2px solid $black;
    resize: none;
    margin-top: 22px;
    padding: 15px;

    &:hover,
    &:focus,
    &:active {
      border: 2px solid $downy;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__required-wrapper {
    @include container;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .order-form__required-wrapper {
    padding: 0 175px;
  }
}

.order-form__required {
  display: block;
  font-size: 14px;
  line-height: 16px;
  color: $charcoal;
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .order-form__required {
    order: 1;
  }
}

.order-form__btn {
  margin-top: 30px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .order-form__btn {
    width: 226px;
  }
}
