.page-footer {
  background-color: $white-smoke;
  display: flex;
  justify-content: center;
  padding-top: 25px;
}

.page-footer__container {
  @include container;
}

@media (min-width: $tablet-width) {
  .page-footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.page-footer__logo-link img {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-link img {
    display: block;
  }
}
