.production-process {
  margin-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .production-process {
    margin-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .production-process {
    margin-bottom: 104px;
  }
}

.production-process__container {
  @include container;
}

@media (min-width: $desktop-width) {
  .production-process__container {
    @include desktop-width;
  }
}

.production-process__content {
  border: 1px solid $whisper;
  position: relative;
  padding-top: 95px;

  &:hover,
  &:focus {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: $tablet-width) {
  .production-process__content {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .production-process__content {
    display: flex;
  }
}

.production-process__title-wrapper {
  position: absolute;
  top: 21px;
  left: 50%;
  transform: translate(-50%, 0);
}

@media (min-width: $tablet-width) {
  .production-process__title-wrapper {
    position: static;
    transform: translate(0, 0);
  }
}

.production-process__title {
  @include font-text;
  margin: 0;
  padding-left: 55px;
  min-width: 190px;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 0 45%;
}

@media (min-width: $tablet-width) {
  .production-process__title {
    padding: 0;
    font-size: 20px;
    padding-left: 65px;
    margin-top: 37px;
  }
}

@media (min-width: $desktop-width) {
  .production-process__title {
    padding-left: 0;
    padding-top: 55px;
    background-position: 0 0;
    margin-top: 40px;
  }
}

.production-process__text {
  padding-left: 34px;
  padding-right: 34px;
}

@media (min-width: $tablet-width) {
  .production-process__text {
    padding-left: 41px;
    padding-right: 41px;
  }
}

@media (min-width: $desktop-width) {
  .production-process__text {
    padding-left: 80px;
    padding-right: 57px;
  }
}

.production-process__video {
  position: relative;
  min-height: 150px;
  width: 100%;
  background-color: $white-smoke;
}

@media (min-width: $tablet-width) {
  .production-process__video {
    min-height: 454px;
    border-bottom: 1px solid $whisper;
  }
}

@media (min-width: $desktop-width) {
  .production-process__video {
    min-width: 680px;
  }
}

@media (min-width: $desktop-width) {
  .production-process__img {
    position: relative;
    min-width: 680px;
    max-width: 680px;
  }
}

.production-process__video img {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.production-process__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 101px;
  height: 77px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;

  &:hover,
  &:focus {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}

.production-process__descr {
  display: block;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  color: $charcoal;
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .production-process__descr {
    font-size: 15px;
    line-height: 30px;
    margin-top: 32px;
  }
}

.production-process__btn {
  margin-top: 25px;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .production-process__btn {
    margin-top: 35px;
    margin-bottom: 45px;
  }
}

@media (min-width: $desktop-width) {
  .production-process__btn {
    margin-top: 45px;
    padding: 12px 10px 15px;
  }
}
