.properties-table {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $charcoal;
  border-collapse: collapse;
  width: 100%;
}

.properties-table__item {
  border-bottom: 1px solid $whisper;
  background-color: $white;
}

.properties-table__info {
  width: 37.6%;
  padding: 10px 0;
}

@media (min-width: $tablet-width) {
  .properties-table__info {
    width: 32.3%;
  }
}

.properties-table__value {
  width: 63.4%;
  padding: 10px 0;
}
