.site-list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    order: 2;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
    width: 42.4%;
    max-height: 88px;
  }
}

.site-list__item {
  @include container;
  border-bottom: 1px solid $whisper;

  &--hidden {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    border: none;
    width: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--hidden {
      display: none;
      justify-content: center;
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    width: 41.4%;

    &--hidden {
      display: flex;
    }

    &:first-child {
      border-right: 1px solid $whisper;
      box-sizing: border-box;
    }

    &:nth-child(even) {
      padding-left: 35px;
      box-sizing: content-box;
    }
  }
}

.site-list__link {
  @include font-text;
  display: block;
  padding: 30px 0;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  min-height: 80px;
  max-width: 260px;

  &:hover,
  &:focus {
    color: rgba($black, 0.6%);
  }

  &:active {
    color: rgba($black, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .site-list__link {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 15px;
    border: none;
    min-height: 62px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    border: none;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 17px;
    min-height: 88px;

    &--hidden {
      min-height: 62px;
      font-size: 15px;
      padding: 15px 0;
    }
  }
}

.site-list__text {
  padding-left: 46px;
}

@media (min-width: $tablet-width) {
  .site-list__text {
    padding-left: 0;
  }
}
