.size-form__group {
  padding: 0;
  margin: 0;
  border: none;
}

.size-form__title {
  font-size: 15px;
  line-height: 30px;
  color: $charcoal;
  margin-top: 20px;
}

.size-form__label {
  font-size: 15px;
  line-height: 30px;
  font-weight: 700;
  color: $charcoal;
  margin-top: 27px;
}

.size-form__btn {
  margin-top: 30px;
  width: 100%;
}
