.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__controls {
  margin-top: 32px;
  display: flex;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    position: absolute;
    bottom: 0;
    right: 50px;
    width: 171px;
  }
}

@media (min-width: $desktop-width) {
  .slider__controls {
    right: 0;
  }
}

.slider__control {
  padding: 0;
  background-color: transparent;
  width: 50%;
  min-height: 50px;
  border: 1px solid $whisper;
  display: block;
  cursor: pointer;
  position: relative;

  &--back {
    border-right: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 130px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--back::before {
    left: 0;
    background-image: url("../img/icon-left-arrow.svg");
  }

  &--next::before {
    right: 0;
    background-image: url("../img/icon-right-arrow.svg");
  }
}

@media (min-width: $tablet-width) {
  .slider__control {
    border: none;

    &::before {
      width: 85px;
    }

    &--back::before {
      right: 0;
    }

    &--next::before {
      left: 0;
    }
  }
}
