.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__controls {
  margin-top: 35px;
}

@media (min-width: $tablet-width) {
  .slider__controls {
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 171px
  }
}
