.social {
  border-bottom: 1px solid $whisper;
  box-sizing: border-box;
  min-width: 260px;
}

@media (min-width: $tablet-width) {
  .social {
    min-width: 0;
    border: none;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 25px;
  padding-top: 20px;
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 15px;
  }
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  &:hover.social__link svg,
  &:focus.socail__link svg {
    fill: $downy;
  }

  &:active.social__link svg {
    fill: rgba($downy, 0.3%);
  }
}
