.social {
  border-bottom: 1px solid $whisper;
  box-sizing: border-box;
  min-width: 260px;
}

@media (min-width: $tablet-width) {
  .social {
    min-width: none;
  }
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  padding-top: 15px;
}

@media (min-width: $desktop-width) {
  .social-list {
    padding-top: 0;
  }
}

.social__item {
  margin-right: 40px;
}

.social__item:last-child {
  margin-right: 0;
}
