.user-list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 52.5%;
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 2;
    width: 42.4%;
    max-height: 88px;
  }
}

.user-list__item {
  @include container;
  border-bottom: 1px solid $whisper;
  max-height: 88px;
}

@media (min-width: $tablet-width) {
  .user-list__item {
    border-bottom: 0;
    border-left: 1px solid $whisper;
    padding: 0;


    &--search {
      width: 24%;
    }

    &--search .user-list__link {
      padding-top: 40;
      padding-bottom: 30;
    }

    &--basket {
      width: 76%;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list__item {
    &--search {
      width: 18.8%;
    }

    &--basket {
      width: 60%;
    }
  }
}

.user-list__link {
  @include font-text;
  box-sizing: border-box;
  padding: 30px 0;
  min-height: 80px;
  max-width: 266px;
  display: block;
  margin-right: auto;
  margin-left: auto;

  &:hover,
  &:focus {
    color: rgba($black, 0.6%);
  }

  &:hover .user-list__icon,
  &:focus .user-list__icon {
    fill: $downy;
  }

  &:active {
    color: rgba($black, 0.3%);
  }

  &:active .user-list__icon {
    fill: rgba($downy, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .user-list__link {
    margin-right: 0;
    padding: 8px 0;
    border: none;
    height: 88px;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

@media (min-width: $tablet-width) {
  .user-list__link {
    padding-top: 10px;
  }
}

.user-list__icon {
  fill: rgba($charcoal, 0.2%);
  padding-right: 25px;

  &--search {
    width: 17.6px;
    height: 17.6px;
  }

  &--basket {
    width: 20.294px;
    height: 18.849px;
  }
}

@media (min-width: $tablet-width) {
  .user-list__icon {
    padding-right: 32px;
    padding-left: 32px;
    flex-shrink: 0;

    &--search {
      padding: 0;
      padding-left: 5px;
      padding-top: 10px;
      margin-left: 37.4%;
      margin-right: 37.4%;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list__icon {
    padding-right: 30px;
    padding-top: 5px;

    &--search {
      padding: 0;
      padding-left: 5px;
    }
  }
}

@media (min-width: $tablet-width) {
  .user-list__text-hidden {
    display: none;
  }
}
